<%= link_to '予定の追加', new_calendar_path %>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div>
      <div class="edit_destroy_btn">
        <%= link_to "編集する", edit_calendar_path(event.id), class: :prototype__btn %>
        <%= link_to "削除する", calendar_path(event.id), class: :prototype__btn, method: :delete %>
      </div>
      <div class="event_content">
        <div><%= event.title %></div>
        <div><%= event.content %></div>
      </div>
    </div>
  <% end %>
<% end %>